.event-card {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.event-date {
  font-size: 0.9rem;
  color: #6c757d;
}

.event-description {
  font-size: 0.9rem;
  color: #495057;
}

.product-card {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
  /* width: 100%;
  margin:0; */
}


.bg-red {
  background-color: #ff5050 !important;
  color: #fff !important;
}

#calender-main{
  display: flex;
  justify-content: center;
  align-items: center;
}