.event-card {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.event-title {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.event-date {
  font-size: 0.9rem;
  color: #6c757d;
}

.event-description {
  font-size: 0.9rem;
  color: #495057;
}

.product-card {
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 0.25rem;
}

.card{
  padding:0;
}

.container-fluid{
  padding:0;
  margin: 0;
  /* width: 100%;
  margin:0; */
}

.navbar{
  padding: 5px;
}

.col{
  padding:0;
}

.row{
  margin:1px;
  padding:0;
}

#navbarNav{
  justify-content:space-between;
}